html{
    min-width: 302px;
    height: 140vh;
}

@media screen and (max-width: 1749px) {

    .texto{
        font-size: 1.8em;
    }

    .grid{
        min-width: 300px;
    }

    #profile{
        position: relative;
        margin-top: 10%;
        margin-bottom: 5%;
        margin-left: 0;
        align-self: center;
    }
}

@media screen and (min-width: 1749px) {
    html{
        height: 100vh;
    }

    .grid{
        width: 50%;
    }
}
